@use "../../styles/partials/keyframes" as *;
@use "../../styles//partials/mixins" as *;

.nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(192, 192, 192, 0.5);
    @include tablet {
        justify-content: flex-end;
    }
    &__item {
        text-decoration: none;
        padding: 0.5rem 2.5rem;
        color: darkorange;
        text-shadow: -0.5px -0.5px 0 darkslategray, 0.5px -0.5px 0 darkslategray, -0.5px 0.5px 0 darkslategray, 0.5px 0.5px 0 darkslategray;
        font-weight: 500;
        background-color: rgba($color: gray, $alpha: 0.7);
        @include tablet {
            background-color: transparent;
            padding: 0.5rem 3rem;
            font-size: 20px;
            text-shadow: none;
        }
        &--home {
            border: darkslateblue 2px solid;
            border-radius: 40px;
            margin: 1rem 1rem 1rem 5vw;
        }
        &--profile {
            border: darkslategray 2px solid;
            border-radius: 40px;
            margin: 1rem 5vw 1rem 1rem;
        }
        &:hover {
            animation-name: colour-change;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
            animation-timing-function: linear;
        }
    }
}