@use "../../styles/partials/mixins" as *;

.home {
    position: relative;
    &__title {
        @include title;
        right: 5vw;
        top: 20vw;
        @include tablet {
            top: 10vw;
            font-size: 48px;
        }
        @include desktop {
            font-size: 60px;
        }
    }
    &__start {
        font-size: 20px;
        font-weight: 400;
        color: darkorange;
        text-decoration: none;
        position: absolute;
        right: 5vw;
        top: 40vw;
        transform: skewY(-18deg);
        border: darkslateblue 2px solid;
        border-radius: 40px;
        text-shadow: 

        -1px -3px 3px navy,
        -2px -3px 3px navy,
        -3px -3px 3px navy,

        -2px -4px 2px navy,
        -3px -4px 2px navy,
        -4px -4px 2px navy,

        -3px -5px 1px navy,
        -4px -5px 1px navy,
        -5px -5px 1px navy;
        &:hover {
            top: calc(40vw + 3px);
            box-shadow: -1px -3px 3px navy,
            -2px -3px 3px navy,
            -3px -3px 3px navy,

            -2px -4px 2px navy,
            -3px -4px 2px navy,
            -4px -4px 2px navy,

            -3px -5px 1px navy,
            -4px -5px 1px navy,
            -5px -5px 1px navy;
        }
        @include tablet {
            font-size: 28px;
            right: 5vw;
            top: 20vw;
            &:hover {
                top: calc(20vw + 3px);
            }
        }
        @include desktop {
            // top: 15vw;
            font-size: 40px;
            // &:hover {
            //     top: calc(15vw + 3px);
            // }
        }
    }
}