@use "../../styles/partials/mixins" as *;

.build {
    background: url(../../assets/landscape.png);
    background-size: cover;
    height: 70vh;
    @include tablet {
        background-size: contain;
    }
    @include desktop {
        background-size: initial;
    }
    &__notice {
        position: absolute;
        color: rgba($color: navy, $alpha: 0.8);
        font-size: 10px;
        padding: 0 5vw;
        @include desktop {
            font-size: 1rem;
            right: 5vw;
        }
    }
    &__group {
        height: calc(30vh - 78px);
        min-height: 70px;
        background-color: rgba(192, 192, 192, 0.8);
        background-image: url(../../assets/wood.png);
        padding: 0 1rem;
        justify-content: center;
        align-items: center;
    }
    &__next {
        background-color: rgba($color: white, $alpha: 0.7);
        padding: 0.5rem 1rem;
        margin: 1rem 0rem;
        font-size: 10px;
        color: darkorange;
        font-weight: 500;
        border: darkslateblue 2px solid;
        border-radius: 40px;
        &:hover {
            animation-name: colour-change;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
            animation-timing-function: linear;
        }
        @include tablet {
            padding: 0.5rem 3rem;
            font-size: 15px;
            margin: 3rem 1rem;
        }
        @include desktop {
            font-size: 20px;
        }
    }
    &__prev {
        @extend .build__next;
        padding: 0.5rem;
        @include tablet {
            padding: 0.5rem 2rem;
        }
    }
    &__submit {
        @extend .build__next;
        padding: 0.5rem;
        @include tablet {
            padding: 0.5rem 2rem;
        }
    }
    &__label {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 9px;
        margin: 0.5rem;
        text-align: center;
        @include tablet {
            font-size: 14px;
            flex-direction: row;
        }
        @include desktop {
            font-size: 30px;
            margin: 3rem 2rem 2rem 2rem;
            font-style: oblique;
        }
    }
}