@use "./variables" as *;

@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}
@mixin title {
    font-size: 32px;
    font-weight: 600;
    color: darkorange;
    position: absolute;
    transform: skewY(-18deg);
    text-shadow: 
    0px -2px 3px navy,
    -1px -2px 3px navy,
    -2px -2px 3px navy,

    -1px -3px 3px navy,
    -2px -3px 3px navy,
    -3px -3px 3px navy,

    -2px -4px 2px navy,
    -3px -4px 2px navy,
    -4px -4px 2px navy,

    -3px -5px 1px navy,
    -4px -5px 1px navy,
    -5px -5px 1px navy;
    &:before {
        content: "Home Constructor";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        transform: skewX(40deg);
        transform-origin: bottom left;
        z-index: -1;
        color: transparent;
        text-shadow:  
        15px 0px 20px rgba(0, 0, 0, 0.25), 
        15px 0px 25px rgba(0, 0, 0, 0.2),
        15px 0px 35px rgba(0, 0, 0, 0.15), 
        15px 0px 45px rgba(0, 0, 0, 0.1);
    }
}

@mixin field {
    width: calc(100% - 0.5rem);
    border: 1px solid rgba($color: navy, $alpha: 0.5);
    box-shadow: 0px 0px 2px rgba($color: navy, $alpha: 0.5);
    border-radius: 5px;
    padding: 0.5rem 0 0.5rem 0.5rem;
    margin: 0.5rem 0;
}